{% extends 'base.html.twig' %}

{% block title %}Création/Édition d'un article{% endblock %}

{% block body %}

    <div class="container">
        <div class="col text-center">
            <h1 class="my-5">
                Créer une sauvegarde de la base de données
            </h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
    
                <input class="btn btn-primary" type="submit" value="Créer une sauvegarde"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}