<p>Bonjour,</p>

<p>Une demande de réinitialisation de mot de passe a été effectuée.</p>

<p>Veuillez cliquer sur le lien suivant dans un delai de 15 minutes afin de réaliser cette action :</p>

<p><a href="{{ absolute_url(path('app_retrieve_credentials', { id: user.id, token: user.forgotPasswordToken })) }}">Réinitialiser mon mot de passe</a></p>

<p>Passé ce délai, ce lien ne sera plus valide et il vous faudra renouveler la demande.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>

<img src="{{ email.image('@images/footer.jpg') }}" alt="footer email">