{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <header>
        <h1 class="text-center">Création d'un article</h1>
    </header>
    <main class="container">
        {{ form(form) }}
    </main>
{% endblock %}
